# Autotests
# Selenoid Configuration

SELENOID_SESSION_TIMEOUT=7m
SELENOID_ENABLE_VNC=True
SELENOID_VIDEO_FRAME_RATE=24
SELENOID_VIDEO_CODEC=mpeg3
SELENOID_VIDEO_NAME=video_name
SELENOID_ENABLE_LOG=True
SELENOID_LOG_NAME=log_name
SELENOID_ENABLE_VIDEO=False
SELENOID_VIDEO_SCREEN_SIZE=1920x1080
WEBDRIVER_BROWSER=chrome
# WEBDRIVER_VERSION=128.0
WEBDRIVER_LAUNCH_MODE=remote

